

/* basic */
/* header */
/* header */

header{
    height: 3rem;
    /* background: #29D659; */
    /* background: #1a1a1a; */
    background-image: linear-gradient(135deg,  #1a1a1a,  #272727);
    background-image: linear-gradient(135deg,  #1a1a1a,  #383838);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: white;
    border-bottom: #27f060 2px solid;
    text-align: center;
}
header h2{
    text-align: center;
    margin: auto;
}
/* main */


main {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.project{
    /* background: red; */
    position: relative;
}
.project .desc{
    position: absolute;
    bottom: 0;
    background: #1a1a1aa2;
    left: 0;
    right: 0;
    /* font-size: .8rem; */
    height: 30%;
    direction: ltr;
    padding: .5rem;
}
.web {
    background: rgb(128, 128, 128);
    height: 20vw;
    width: 20vw;
    transition: .1s linear;
    margin: 4rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border-radius: .4rem;
}
.mainProjectLogo{
    height: 3rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    border-radius: .3rem;
}

.btns{
    /* background: red; */
    position: absolute;
    right: 1rem;
    top: 20%;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 5rem;
}
.btns button{
    background: #29D659;
    border: none;
    font-size: 1.3rem;
    border-radius: .2rem;
    transition: .1s linear;
    cursor: pointer;
}
.btns button:hover{
    background: #33a353;
    background: #27f060;
}
.prototypeBtn{

}
.docsBtn{

}
.sourceBtn{

}

.web:hover {
    /* transform: translate(-1rem, -1rem); */
    box-shadow: 1.2rem 1.2rem 0 rgb(39, 240, 96);
    box-shadow: 1.2rem 1.2rem 0 #C0F9D0 ;
    box-shadow: 1.2rem 1.2rem 0 linear-gradient(180deg, #27f060,#27f060);

    /* background-image: linear-gradient(135deg,  #1a1a1a,  #383838); */

}

.web h2 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    /* background: #1a1a1a; */
}
.web img{
    height: 100%;

}


/* footer */


footer{
    min-height: 20vh;
    padding: 0% 1rem;
    /* background: green; */
    background: #0a0a0a;
    background-image: linear-gradient(45deg,  #1a1a1a,  #292929);

    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    padding: 1rem;
    border-top: #27f060 2px solid;
}

.contact, .features, .statics{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: #29D659;
    min-height: 15vh;
    width: 20vw;
    border-radius: .5rem;
    transition: .1s linear;
    background: white;
}

.projectStatics{
    background: #C0F9D0;
    background: #33a353;
    background: #54db7b;
    border-radius: .3rem;
    padding: .3rem;
}

.contact:hover, .features:hover, .statics:hover{
    /* background: #29D659; */
    /* background: #33a353; */
    /* background: white; */
    box-shadow: 3px 3px 0px 0px  #29D659;
}
.contact img, .features img, .statics img{
    height: 2rem;
}


.features{
    width: 50vw;
}
.features div{
    background: #1a1a1a;
    color: white;
    margin: .1rem;
}
.features li{
    direction: ltr;
}

.statics li b{
    color: red;
}
.statics img{
    height: 1rem;
}



/* elements */
body{
    margin: 0;
}

main div,main p,main h1,main h2,main h3,main h4,main h5,main h6{
    direction: rtl;
}

body{
    overflow-x: hidden;
    /* background: #1F2721; */
    margin: 0;
    /* overflow: hidden; */
}
body *{
    /* box-sizing: border-box; */
}
img{
    /* background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    height: 2rem;
}
input[type=file]{
    display: none;
}
a{
    text-decoration: none;
    color: black;
}
button{
    background-position: center;
    background-size: contain;
}
li{
    background: #C0F9D0;
    border-radius: .4rem;
    margin-bottom: .2rem;
}
label{
    background: #54db7b;
    cursor: pointer;
    padding: .4rem;
    transition: .2s linear;
    border-radius: .2rem;
}
label:hover{
    background: #33a353;
}


/* shared */
.logged, .makeprofile, .notlogged{
    display: none;
}
.box{
    background-color: #27f060;
    padding: .5rem;
    border-radius: .5rem;
    transition: .1s linear;
    cursor: pointer;
}
.box:hover{
    background-color: #33a353;
    border-radius: .7rem;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.account{
    display: flex;
    gap: .6rem;
    justify-content: center;
    align-items: center;
    transition: .1s linear;
    cursor: pointer;
}

.accountImg{
    border-radius: 50%;
    border: #0a0a0a 1px solid;
}



.on{
    background: #1b1b1b;
    color: white;
}
.on:hover{
    background: #333333;
}

.red {
    background: #ff2a2a;
}

.green {
    background: #27f060;
}

.black {
    background: #0a0a0a;
}

.white {
    background: rgb(245, 245, 245);
}        

/* mobile */

@media all and (max-width: 500px){
    main{
        flex-direction: column;
    }
    .web{
        width: 15rem;
        height: 15rem;
    }
    body *{
        font-size: 1rem;
    }
    footer{
        flex-direction: column;
        gap: .2rem;
    }
    .contact, .features, .statics{
        width: 90vw;
    }
}


/* js created */



